.relative {
    position: relative;
  }
  .my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .table {
    display: table;
  }
  .w-full {
    width: 100%;
  }
  .table-auto {
    table-layout: auto;
  }
  .border-collapse {
    border-collapse: collapse;
  }
  .overflow-auto {
    overflow: auto;
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .rounded-xl {
    border-radius: 0.75rem;
  }
  .border-b {
    border-bottom-width: 1px;
  }
  .border-slate-100 {
    --tw-border-opacity: 1;
    border-color: rgb(241 245 249 / var(--tw-border-opacity));
  }
  .border-slate-200 {
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity));
  }
  .border-slate-600 {
    --tw-border-opacity: 1;
    border-color: rgb(71 85 105 / var(--tw-border-opacity));
  }
  .border-slate-700 {
    --tw-border-opacity: 1;
    border-color: rgb(51 65 85 / var(--tw-border-opacity));
  }
  .bg-slate-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  }
  .bg-slate-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  }
  .bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
  .p-4 {
    padding: 1rem;
  }
  .pb-3 {
    padding-bottom: 0.75rem;
  }
  .pl-8 {
    padding-left: 2rem;
  }
  .pr-8 {
    padding-right: 2rem;
  }
  .pt-0 {
    padding-top: 0px;
  }
  .text-left {
    text-align: left;
  }
  .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .font-medium {
    font-weight: 500;
  }
  .text-slate-200 {
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity));
  }
  .text-slate-400 {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
  }
  .text-slate-500 {
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
  }
  .shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .hover\:bg-slate-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  }
  @media (prefers-color-scheme: dark) {
    .dark\:border-slate-600 {
      --tw-border-opacity: 1;
      border-color: rgb(71 85 105 / var(--tw-border-opacity));
    }
    .dark\:border-slate-700 {
      --tw-border-opacity: 1;
      border-color: rgb(51 65 85 / var(--tw-border-opacity));
    }
    .dark\:bg-slate-800 {
      --tw-bg-opacity: 1;
      background-color: rgb(30 41 59 / var(--tw-bg-opacity));
    }
    .dark\:text-slate-200 {
      --tw-text-opacity: 1;
      color: rgb(226 232 240 / var(--tw-text-opacity));
    }
    .dark\:text-slate-400 {
      --tw-text-opacity: 1;
      color: rgb(148 163 184 / var(--tw-text-opacity));
    }
  }
  